# Project files
*.komodoproject
.idea/
.metadata/
.project
.settings/
.pydevproject
.idea
.dartignore

# Code build files
*.egg-info/
build/
__pycache__/
pyhttpstatus_utils/__pycache__/
pyhttpstatus_utils/helpers/__pycache__/
*.pyc
