# Project files
.idea/
.metadata/
.project
.settings/
.pydevproject
.python-version
.dartignore

.sw*
*.vim
*.zip

# Code build files
*.egg-info/
build/
**/*/__pycache__/
*.pyc

_tmp/

# pytest
.cache/*
/htmlcov/
/.coverage
/.pytest_cache/

# distribution
.eggs/*
dist/*
